/* LoginForm.module.css */
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    height: 9%;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logoImage {
    margin-left: -10px;
    margin-top: 10px;
}

.container {
    width: 394px;
    margin-top: 60px;
}

.formContainer {
    padding: 35px 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 1px solid #bfbfbf;
}

.label {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 40px;
    color: #707070;
    font-weight: 100; /* Regularフォントウェイト */
    font-family: Arial, sans-serif; /* 任意のフォントファミリ */
}

.input {
    width: calc(100% - 0px);
    height: 30px;
    padding: 10px;
    margin: 5px 0;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input::placeholder {
    color: #d4d2d2; /* 薄いグレー色 */
    opacity: 3; /* プレースホルダーの透明度 */
}

.button {
    width: calc(100% - 0px);
    height: 40px;
    font-size: 20px;
    padding: 10px;
    margin-top: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400; /* Regularフォントウェイト */
    font-family: Arial, sans-serif; /* 任意のフォントファミリ */
}

.forgotPassword {
    text-align: center;
    margin-top: 30px;
}

.forgotPassword a {
    color: #83c5eb;
    text-decoration: none;
}

.createAccountContainer {
    text-align: center;
    margin-top: 20px;
}

.createAccountButton {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ffffff; /* Changed to white */
    color: #000;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.separatorLine {
    flex-grow: 1;
    border: 0;
    border-top: 1px solid #ccc;
}

.separator span {
    padding: 0 10px;
}

.otherLoginMethods {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherLoginButton {
    width: calc(100% - 0px);
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff; /* Changed to white */
    color: #000;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otherLoginButton img {
    margin-right: 10px;
}

.error {
    color: red; /* エラーメッセージを赤色で表示 */
    margin-bottom: 15px; /* フォームとの間に余白を追加 */
}
